body{
    background-color: lightgoldenrodyellow
}
.container{    
    margin: 0px auto;    
    padding-left: 30px;
    padding-right: 0px;
    max-width: 1300px; 
}

p,h1{
    padding: 5px 0px 0px 0px;
    color: crimson;
}
label{
    font-weight: 400;
    padding-top: 5px;
    font-size: 18px;
}
#first-name,#last-name,#address,#pincode,#state,#country{
    width: 700px;
    border: 1px solid lightgray;
}
#submit{
    width: 100px;
    background-color: rgb(114, 109, 109);
    margin-top: 10px;
    margin-left: 45%;
    color: white;
}
th{
    background-color: rgb(196, 183, 183);
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}
